rux-container {
  height: 100%;
}

rux-container::part(container) {
  display: flex;
  flex-direction: column;
  height: calc(100% - 2px);
  overflow-y: hidden;
}

rux-container::part(body) {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

rux-container footer[slot="footer"] {
  display: flex;
  gap: var(--spacing-2);
  justify-content: flex-end;
}

/* GLOBAL PAGE STYLES */

.page {
  /* calculated height of interior pages so that gsb doesn't have scrollbar */
  height: calc(100vh - 10.25rem);
  display: flex;
  flex-flow: column;
  overflow: overlay;
}

/* GlOBAL TABLE STYLES */

.table-wrapper {
  overflow-y: scroll;
}

.table-wrapper::-webkit-scrollbar-track {
  margin-top: 40px;
}

rux-table-header {
  top: 0;
  position: sticky;
  z-index: 10;
}

rux-status::part(status) {
  margin-inline: auto;
}

/* readonly textarea */

.description-message {
  height: 100%;
  box-sizing: border-box;
  border: 1px solid var(--color-border-interactive-muted);
  background-color: var(--color-background-base-default);
  color: var(--color-text-primary);
  border-radius: var(--radius-base);
  padding: var(--spacing-2);
}

.description-message:focus-visible {
  outline: 1px solid var(--color-border-focus-default);
  outline-offset: var(--spacing-focus-default);
}

/* Global Filter Notification Style */
.filter-notification {
  background-color: var(--color-background-surface-default);
  padding: var(--spacing-2);
  text-overflow: ellipsis;
  white-space: nowrap;
}
.filter-notification rux-button::part(container) {
  padding-inline: var(--spacing-2);
  box-shadow: none;
}
